html {
    color: #333;
}

#header {
    min-width: 300px;
    padding: 20px calc((100% - 1120px) / 2) 5px calc((100% - 1120px) / 2);
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    flex-wrap: wrap;
}

#title {
    flex: 1 0 auto;
    margin: 0 0 6px 0;
    font: 200 24px sans-serif;
    white-space: nowrap;
}

#logo {
    color: #e50012;
    font: 400 34px sans-serif;
    vertical-align: -3px;
}

#nav {
    flex: 0 1 content;
    ruby-position: under;
    margin-left: 6px;
}

#nav ul li {
    display: table-cell;
    white-space: nowrap;
    border-left: 1px dashed #333;
}

#nav ul li a {
    color: #333;
    display: block;
    padding: 4px 25px 4px 20px;
    margin: 2px 4px 2px 4px;
}

#nav ul li a:hover, .nav-focus {
    background-color: #e50012 !important;
    color: #fff !important;
    text-decoration: none !important;
}

#nav ul li a:hover rt, .nav-focus rt {
    color: #fff !important;
}

#nav span {
    display: table-cell;
    position: relative;
    top: 5px;
    padding-right: 10px;
}

#nav ruby {
    display: table-cell;
}

#nav rt {
    color: #e50012;
}

#menu-icon {
    display: none;
}

@media (max-width: 670px) {

    #title {
        margin-left: 10px;
    }

    #nav ul {
        position: absolute;
        top: 60px;
        right: 20px;
        width: 150px;
        border: 1px solid #333;
        display: none;
        background-color: white;
        z-index: 998;
    }

    #nav ul li {
        display: table-row;
        border: 1px dashed #333;
    }

    #menu-icon {
        position: absolute;
        top: 22px;
        right: 6px;
        display: block;
        font-size: 24px;
        color: #333;
        padding: 4px 8px 0 8px;
        margin-right: 14px;
        z-index: 999;
        background-color: white;
    }
}

