@font-face {
  font-family: 'Volter';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Volter.ttf') format('truetype');
}
html, body {
  color: #333;
  font-size: 16px;
}
a {
  color: #333;
  text-decoration: none;
}
.header {
  padding: 15px calc((100% - 1120px) / 2) 15px calc((100% - 1120px) / 2);
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.title {
  flex: 1 0 auto;
  margin-left: 10px;
  font-size: 24px;
  white-space: nowrap;
}
.logo {
  color: #e50012;
  font-size: 34px;
  vertical-align: -2px;
}
.nav {
  flex: 0 1 auto;
  margin-left: 10px;
}
.nav li {
  display: table-cell;
  border-left: 1px dashed #333;
  white-space: nowrap;
}
.nav a {
  display: block;
  padding: 4px 25px 4px 20px;
  margin: 2px 4px 2px 4px;
}
.nav a i {
  display: table-cell;
  position: relative;
  top: 7px;
  padding-right: 10px;
}
.nav ruby {
  display: table-cell;
}
.nav rt {
  display: block;
  font: bold 9px 'Volter';
  color: #e50012;
  text-align: center;
}
.nav a:hover, .nav-active {
  background-color: #e50012;
  color: #fff;
}
.nav a:hover rt, .nav-active rt {
  color: #fff;
}
.nav-menu {
  display: none;
  background-color: white;
  font-size: 24px;
  color: #333;
  z-index: 999;
  padding: 5px 8px 5px 8px;
}

@media (max-width: 680px) {
  .nav-menu {
    display: block;
  }
  .nav {
    margin-right: 20px;
    position: relative;
  }
  .nav ul {
    visibility: hidden;
    opacity: 0;
    display: table;
    position: absolute;
    top: 40px;
    right: 0px;
    border: 1px solid #333;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
    z-index: 1;
    transition: all .25s ease;
  }
  .nav li {
    display: table-row;
  }
  .nav a i {
    width: 25px;
    padding-right: 20px;
    text-align: center;
  }
  .nav:hover ul {
    visibility: visible;
    opacity: 1;
  }
  .nav:hover .nav-menu {
    background-color: #e50012;
    color: white;
  }
}
