.slide {
  position: relative;
  height: calc(60vh + 37px);
  width: 100%;
}
.slide header {
  padding: 0 calc((100% - 1120px) / 2) 0 calc((100% - 1120px) / 2);
  background-color: #FAF9F9;
}
.slide ul {
  margin-left: 10px;
}
.slide li {
  font-size: 14px;
  display: table-cell;
  padding: 12px 10px 12px 10px;
  cursor: pointer;
  position: relative;
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none; 
}
.slide figure {
  height: 60vh;
  width: 100%;
  display: block;
  position: absolute;
  top: 37px;
  opacity: 0;
  transition: all 1.2s;
  padding: 0 calc((100% - 1120px) / 2);
}


.slide > figure:nth-of-type(1) {
    background: url('/public/images/slide-1.jpg') center/cover no-repeat;
    display: flex;
    flex-direction: column-reverse;
}

.slide > figure:nth-of-type(1) figcaption {
    color: white;
    margin: 0 30% 6% 0;
    padding: 5px 20px;
    background-color: rgba(0,0,0,0.3);
}


.slide > figure:nth-of-type(2) {
    background: url('/public/images/slide-2.jpg') bottom/cover no-repeat;
}

.slide > figure:nth-of-type(2) > figcaption {
    width: 40%;
    font-size: 18px !important;
    color: white;
    margin: 10% 0 0 0;
    padding: 20px 20px 8px 20px;
    background-color: rgba(0,0,0,0.3);
}

.slide > figure:nth-of-type(2) > figcaption > p:nth-of-type(2) {
    text-align: right;
}

.slide > figure:nth-of-type(3) {
    background: url('/public/images/slide-3.jpg') bottom/cover no-repeat;
    display: flex;
    flex-direction: row-reverse;
}

.slide > figure:nth-of-type(3) > figcaption {
    margin: 80px 0 0 20%;
}

.slide > figure:nth-of-type(3) > figcaption > div {
    font-size: 18px !important;
    color: white;
    padding: 5px 20px;
    background-color: rgba(0,0,0,0.3);
}

.slide > figure:nth-of-type(3) > figcaption > div > p:nth-of-type(2) {
    text-align: right;
    padding-bottom: 20px;
}
.slide-active-title {
  color: #cd0816;
}
.slide-active-image {
  opacity: 1 !important;
}
.slide-triangle {
  width: 0; 
  height: 0; 
  border-left: 10px solid rgba(255, 255, 255, 0);
  border-right: 10px solid rgba(255, 255, 255, 0);
  border-top: 10px solid #FAF9F9;
  border-style: solid dotted none;
  position: absolute;
  bottom: -8px;
  left: 38%;
  z-index: 1;
}

.event {
    display: flex;
    flex-flow: column wrap;
    height: 120px;
    background: url('/public/images/event.jpg');
    padding: 20px calc((100% - 1120px) / 2) 0 calc((100% - 1120px) / 2);
    font-size: 18px;
}

.event h4 {
    flex: 0 1 content;
    color: #3E4043;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.event h3 {
    flex: 0 1 content;
    font: 400 20px/26px 'Raleway' !important;
    color: #D14D42;
    font-size: 24px;
    margin: 0;
}

.count-down {
    height: 100px;
    width: 300px;
    background-color: black;
}

@media (max-width: 670px) {

    .slide > figure > figcaption, .slide > figure > figcaption > div {
        display: flex !important;
        width: 100% !important;
        margin: 0 0 0 0 !important;
    }


}
