.slide {
  /*height: calc(60vh + 37px);*/
}
.slide header {
  padding: 0 calc((100% - 1120px) / 2) 0 calc((100% - 1120px) / 2);
  background-color: #FAF9F9;
  display: flex;
  align-items: center;
}
.slide ul {
  margin-left: 10px;
}
.slide li {
  font-size: 14px;
  display: table-cell;
  padding: 12px 10px 12px 10px;
  cursor: pointer;
  position: relative;
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none; 
}
.slide header div {
  margin-left: auto;
}
.slide header i {
  padding-left: 4px;
  cursor: pointer;
  position: relative;
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none; 
}
.slide > div {
  position: relative;
  height: 60vh;
}
.slide figure {
  height: 60vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  padding: 0 calc((100% - 1120px) / 2);
  transition: opacity 0.8s;
}
.slide figcaption {
  background-color: rgba(0,0,0,0.3);
  color: white;
  padding: 12px 22px;
}
.slide h2 {
  font-size: 30px;
  line-height: 1.4em;
}
.slide p {
  line-height: 1.2em;
}
.slide-welcome {
  background: url('/public/images/slide-1.jpg') center/cover no-repeat;
  display: flex;
  flex-direction: column-reverse;
}
.slide-welcome figcaption {
  color: white;
  margin: 0 20vw 5vh 0;
}
.slide-bible {
  background: url('/public/images/slide-2.jpg') bottom/cover no-repeat;
}
.slide-bible figcaption {
  width: 40%;
  font-size: 18px;
  margin: 15vh 0 0 0;
}
.slide-theme {
  background: url('/public/images/slide-3.jpg') bottom/cover no-repeat;
  display: flex;
  flex-direction: row-reverse;
}
.slide-theme figcaption {
  margin: 10vh 0 0 15vw;
  font-size: 18px;
  color: white;
  display: table;
}
.slide-reference {
  text-align: right;
}
.slide-active-button {
  color: #cd0816;
}
.slide-active-image {
  opacity: 1 !important;
}
.slide-triangle {
  width: 0; 
  height: 0; 
  border-left: 10px solid rgba(255, 255, 255, 0);
  border-right: 10px solid rgba(255, 255, 255, 0);
  border-top: 10px solid #FAF9F9;
  border-style: solid dotted none;
  position: absolute;
  bottom: -8px;
  left: 38%;
  z-index: 1;
}
.event {
    display: flex;
    flex-flow: column wrap;
    height: 120px;
    background: url('/public/images/event.jpg');
    padding: 20px calc((100% - 1120px) / 2) 0 calc((100% - 1120px) / 2);
    font-size: 18px;
}

.event h4 {
    flex: 0 1 content;
    color: #3E4043;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.event h3 {
    flex: 0 1 content;
    font: 400 20px/26px 'Raleway' !important;
    color: #D14D42;
    font-size: 24px;
    margin: 0;
}

.count-down {
    height: 100px;
    width: 300px;
    background-color: black;
}

@media (max-width: 670px) {

    .slide > figure > figcaption, .slide > figure > figcaption > div {
        display: flex !important;
        width: 100% !important;
        margin: 0 0 0 0 !important;
    }

  .slide header div {
    margin-right: 28px;
  }

}
