.slide header {
  padding: 0 calc((100% - 1120px) / 2) 0 calc((100% - 1120px) / 2);
  background-color: #FAF9F9;
  display: flex;
  align-items: center;
}
.slide ul {
  margin-left: 10px;
}
.slide li {
  font-size: 14px;
  display: table-cell;
  padding: 12px 10px 12px 10px;
  cursor: pointer;
  position: relative;
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none; 
}
.slide header div {
  margin-left: auto;
  margin-right: 10px;
}
.slide header i {
  padding-left: 4px;
  cursor: pointer;
  position: relative;
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none; 
}
.slide > div {
  position: relative;
  height: 50vh;
}
.slide figure {
  height: 50vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  padding: 0 calc((100% - 1120px) / 2);
  transition: opacity 0.8s;
}
.slide figcaption {
  background-color: rgba(0,0,0,0.3);
  color: white;
  padding: 14px 24px;
}
.slide h2 {
  font-size: 30px;
  line-height: 1.6em;
}
.slide p {
  line-height: 1.4em;
}
.slide-welcome {
  background: url('/public/images/slide-1.jpg') center/cover no-repeat;
  display: flex;
  flex-direction: column-reverse;
}
.slide-welcome figcaption {
  color: white;
  margin: 0 17vw 5vh 0;
}
.slide-bible {
  background: url('/public/images/slide-2.jpg') bottom/cover no-repeat;
}
.slide-bible figcaption {
  width: 40%;
  font-size: 18px;
  margin: 15vh 0 0 0;
}
.slide-theme {
  background: url('/public/images/slide-3.jpg') bottom/cover no-repeat;
  display: flex;
  flex-direction: row-reverse;
}
.slide-theme figcaption {
  margin: 10vh 0 0 15vw;
  font-size: 18px;
  color: white;
  display: table;
}
.slide-reference {
  text-align: right;
}
.slide-active-button {
  color: #C71B1B;
}
.slide-active-image {
  opacity: 1 !important;
}
.slide-triangle {
  width: 0; 
  height: 0; 
  border-left: 10px solid rgba(255, 255, 255, 0);
  border-right: 10px solid rgba(255, 255, 255, 0);
  border-top: 10px solid #FAF9F9;
  border-style: solid dotted none;
  position: absolute;
  bottom: -8px;
  left: 38%;
  z-index: 1;
}
.event {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100px;
  background: url('/public/images/event.jpg');
  padding: 0 calc((100% - 1120px) / 2) 0 calc((100% - 1120px) / 2);
}
.event-description {
  display: inline-block;
  line-height: 1.8em;
  flex: 1 0 auto;
  margin-left: 10px;
}
.event-description h4 {
  /*color: #3E4043;*/
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
.event-description h3 {
  font-size: 20px;
  color: #C71B1B;
  margin-left: 10px;
}
.countdown {
  display: block;
  width: 380px;
}
.countdown-box {
  display: flex;
  flex-flow: column wrap;
  height: 70px;
}
.countdown-entity {
  width: 75px;
  height: 70px;
  margin-left: 15px;
  margin-bottom: 4px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  position: relative;
}
.countdown-value {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #4f5159;
  height: 45px;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.countdown-unit {
  color: #898989;
  font-size: 14px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.countdown-unit::before, .countdown-unit::after {
  content: "";
  height: 3px;
  position: absolute;
  border-radius: 3px;
  border-width: 0px 1px 1px;
  border-style: none solid solid;
  border-color: #eee;
}
.countdown-unit::before {
  bottom: -4px;
  left: 2px;
  right: 2px;
}
.countdown-unit::after {
  bottom: -7px;
  left: 4px;
  right: 4px;
}
.event-detail {
  color: white;
  margin: 0 15px 0 40px;
  padding: 12px 18px;
  background: transparent linear-gradient(to bottom, #E65927 0%, #C71B1B 40%, #DD3D15 100%) repeat scroll 0% 0%;
  border-radius: 4px;
  border: 1px solid #BF4927;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4) inset, 1px 1px 2px rgba(154, 125, 108, 0.59);
}
.event-detail:hover {
  background: transparent linear-gradient(to bottom, #E65927 0%, #ca0010 40%, #DD3D15 100%) repeat scroll 0% 0%;
}
.event-all {
  color: #C71B1B;
  margin: 0 10px 0 15px;
  white-space: nowrap;
}
.event-all:hover {
  text-decoration: underline;
}
.faith {
  padding: 0 calc((100% - 1120px) / 2);
  display: flex;
  flex-flow: row wrap;
}
.faith > p {
  color: #696362;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 20px 20px 20px;
}
.faith-entity {
  width: 25%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.faith-entity img {
  height: 80px;
}
.faith-entity i {
  padding: 20px 10px 0 0;
  font-size: 60px;
  color: #C71B1B;
}
.faith-entity h3 {
  font-size: 24px;
  margin: 20px 0 20px 0;
  color: #393332;
}
.faith-entity p {
  margin: 10px 30px;
  text-align: center;
  color: #696362;
}
/*
.history {
  padding: 0 calc((100% - 1120px) / 2);
  display: flex;
  flex-flow: row wrap;
}
.history p {
  width: calc(50% - 100px);
  line-height: 1.6em;
  margin: 20px 40px 20px 20px;
}
.history div {
  width: 50%;
  background: url('/public/images/history.jpg') center/cover no-repeat;
}
*/
/*
.contact {
  padding: 0 calc((100% - 1120px) / 2);
  display: flex;
  flex-flow: row wrap;
}
.contact iframe {
  width: 50%;
  margin: 0 20px;
}
.contact ul {
}

*/
/*
.content-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 30px;
  height: 4px;
  background: #C71B1B none repeat scroll 0% 0%;
}
*/
.content-title {
  font-size: 28px;
  width: 100%;
  margin: 50px 20px 30px 20px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1035px) {
  .countdown {
    display: none;
  }
  .slide header i:last-child {
    margin-right: 20px;
  }
}
@media (max-width: 670px) {
  .slide figure {
    height: 100vw;
  }
  .slide > div {
    position: relative;
    height: 100vw;
  }
  .countdown, .event-detail, .event-or, .event-all {
    display: none;
  }
  .event-description {
    flex: 0 1 auto;
  }
  .event {
    justify-content: center;
  }
  .faith-entity {
    width: 50%;
  }
}
