{{define "base"}}
  <!doctype HTML>
  <html lang="zh-Hant">
    <head>
      <title>基督教華府中國教會</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--
      <link rel="icon" type="image/x-icon" href="http://www.christart.com/IMAGES-art9ab/favicons/favicons/bible_01.ico">
      -->
      <link rel="icon" type="image/png" href="/public/images/favicon.png">
      <link rel="stylesheet" type="text/css" href="/public/css/reset.css">
      <link rel="stylesheet" type="text/css" href="/public/css/font-awesome.css">
      <link rel="stylesheet" type="text/css" href="/public/css/base.css">
      {{template "head" .}}
    </head>
    <body>
      <header class="header">
        <h1 class="title"><span class="logo">✝</span>基督教華府中國教會</h1>
        <nav class="nav">
          <i class="fa fa-bars nav-menu"></i>
          <ul>
            <li><a class="nav-active" href="#"><i class="fa fa-home fa-lg"></i><ruby><rb>首頁</rb><rt>HOME</rt></ruby></a></li>
            <li><a href="#"><i class="fa fa-camera-retro fa-lg"></i><ruby><rb>活動</rb><rt>EVENTS</rt></ruby></a></li>
            <li><a href="#"><i class="fa fa-user fa-lg"></i><ruby><rb>事工</rb><rt>MINISTRY</rt></ruby></a></li>
            <li><a href="#"><i class="fa fa-graduation-cap fa-lg"></i><ruby><rb>學校</rb><rt>SCHOOL</rt></ruby></a></li>
            <li><a href="#"><i class="fa fa-cubes fa-lg"></i><ruby><rb>關於</rb><rt>ABOUT</rt></ruby></a></li>
            <li><a href="#"><i class="fa fa-folder-open-o fa-lg"></i><ruby><rb>資源</rb><rt>RESOURCES</rt></ruby></a></li>
          </ul>
        </nav>
      </header>
      <main>
        {{template "main" .}}
      </main>
      <footer class="footer">
        <address>contact me!</address>
      </footer>
    </body>
  </html>
{{end}}
