{{define "base"}}
  <!doctype HTML>
  <html lang="zh-Hant">
    <head>
      <title>基督教華府中國教會</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" type="image/png" href="/public/images/favicon.png">
      <link rel="stylesheet" type="text/css" href="/public/css/reset.css">
      <link rel="stylesheet" type="text/css" href="/public/css/font-awesome.css">
      <link rel="stylesheet" type="text/css" href="/public/css/base.css">
      {{template "head" .}}
    </head>
    <body>
      <header class="header">
        <h1 class="title"><span class="logo">✝</span>基督教華府中國教會</h1>
        <nav class="nav">
          <i class="fa fa-bars nav-menu"></i>
          <ul>
            <li><a class="nav-active" href="#"><i class="fa fa-home fa-lg"></i><ruby><rb>首頁</rb><rt>HOME</rt></ruby></a></li>
            <li><a href="#"><i class="fa fa-camera-retro fa-lg"></i><ruby><rb>活動</rb><rt>EVENTS</rt></ruby></a></li>
            <li><a href="#"><i class="fa fa-user fa-lg"></i><ruby><rb>事工</rb><rt>MINISTRY</rt></ruby></a></li>
            <li><a href="#"><i class="fa fa-graduation-cap fa-lg"></i><ruby><rb>學校</rb><rt>SCHOOL</rt></ruby></a></li>
            <li><a href="#"><i class="fa fa-cubes fa-lg"></i><ruby><rb>關於</rb><rt>ABOUT</rt></ruby></a></li>
            <li><a href="#"><i class="fa fa-folder-open-o fa-lg"></i><ruby><rb>資源</rb><rt>RESOURCES</rt></ruby></a></li>
          </ul>
        </nav>
      </header>
      <main>
        {{template "main" .}}
      </main>
      <footer class="footer">
        <div class="footer-entity footer-contact">
          <h3>聯繫方式</h3>
          <ul>
            <li><i class="fa fa-map-marker"></i><span>7716 Piney Branch Rd<br>Silver Spring<br>MD 20910</span></li>
            <li><i class="fa fa-phone"></i><span>301-587-0033</span></li>
            <li><i class="fa fa-fax"></i><span>301-357-8490</span></li>
            <li><i class="fa fa-envelope"></i><span>info@cccgw.org</span></li>
          </ul>
        </div>
        <div class="footer-entity footer-time">
          <h3>教會辦公室時間</h3>
          <ul>
            <li><span>周一</span><span>休息</span></li>
            <li><span>周二</span><span>10:00 am - 3:00 pm</span></li>
            <li><span>周三</span><span>10:00 am - 3:00 pm</span></li>
            <li><span>周四</span><span>10:00 am - 3:00 pm</span></li>
            <li><span>周五</span><span>10:00 am - 3:00 pm</span></li>
            <li><span>周六</span><span>休息</span></li>
            <li><span>周日</span><span>10:00 am - 3:00 pm</span></li>
          </ul>
        </div>
        <div class="footer-entity footer-link">
          <h3>外部鏈接</h3>
          <ul>
            <li><a href="http://www.desiringgod.org/"><i class="fa fa-angle-double-right"></i>Desiring God</a></li>
            <li><a href="http://www.o-bible.com/"><i class="fa fa-angle-double-right"></i>Bible Download</a></li>
            <li><a href="http://www.facebook.com/strongfellowship"><i class="fa fa-angle-double-right"></i>The Strong Fellowship - 剛強團契</a></li>
            <li><a href="http://www.gty.org/"><i class="fa fa-angle-double-right"></i>Grace to You</a></li>
            <li><a href="http://www.afcinc.org/zh-cn/首頁.aspx"><i class="fa fa-angle-double-right"></i>Ambassador for Christ - 基督使者協會</a></li>
          </ul>
        </div>
        <div class="footer-entity"><img src="/public/images/footer-square.png"></div>
      </footer>
    </body>
  </html>
{{end}}
