{{define "head"}}
  <link rel="stylesheet" type="text/css" href="/public/css/index.css">
  <script src="/public/js/index.js"></script>
{{end}}

{{define "main"}}
  <div class="slide">
    <header>
      <ul>
        <li class="slide-active-button">歡迎您<span class="slide-triangle"></span></li>
        <li>聖經金句</li>
        <li>今年主题</li>
      </ul>
      <div>
        <i class="fa fa-play-circle-o slide-active-button"></i>
        <i class="fa fa-pause-circle-o"></i>
      </div>
    </header>
    <div>
      <figure class="slide-welcome slide-active-image">
        <figcaption>
          <h2>歡迎您!</h2>
          <p>
            我們歡迎你参訪我們的網站。如果你正在尋找教會而且今天是你第一次接觸到
            華府中國教會，我們熱烈地歡迎你，並希望你會藉著這網站更多認識我們。我
            們是一群藉著與耶穌基督建立切身關係而專心去認識神的信徒。我們按聖靈的
            指引過生活，彼此相交，目的是要更像耶穌。我們最大的盼望就是，其他的人
            也能在他們一生當中認識耶穌基督，並能活出祂的樣式。我們盼望很快地就能
            與你見面。
          </p>
        </figcaption>
      </figure>
      <figure class="slide-bible">
        <figcaption>
          <p>
            耶穌坐下，叫十二個門徒來說，若有人願意作首先的，他必作眾人末後的，作
            眾人的用人。
          </p>
          <p class="slide-reference">—— 馬可福音 9:35</p>
        </figcaption>
      </figure>
      <figure class="slide-theme">
        <figcaption>
          <h2>作貴重器皿,合乎主用</h2>
          <p>
            在大戶人家，不僅有金器、銀器，也有木器、瓦器；有作為貴重的，有作為卑
            賤的。人若自潔, 脫離卑賤的事，就必作貴重的器皿，成為聖潔，合乎主用，
            預備行各樣的善事 。
          </p>
          <p class="slide-reference">—— 提摩太後書 2:20-21</p>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="event">
    <div class="event-description">
      <h4><i class="fa fa-calendar"></i> 近期活動（2016-02-29 4PM）：</h4>
      <h3>“慶祝春節晚會，請邀親友參加！”</h3>
    </div>
    <div class="countdown">
      <div class="countdown-box">
        <span class="countdown-entity countdown-days">
          <span class="countdown-value"></span>
          <span class="countdown-unit">天</span>
        </span>
        <span class="countdown-entity countdown-hours">
          <span class="countdown-value"></span>
          <span class="countdown-unit">時</span>
        </span>
        <span class="countdown-entity countdown-minutes">
          <span class="countdown-value"></span>
          <span class="countdown-unit">分</span>
        </span>
        <span class="countdown-entity countdown-seconds">
          <span class="countdown-value"></span>
          <span class="countdown-unit">秒</span>
        </span>
      </div>
    </div>
    <a href="#" class="event-detail">活動詳情</a>
    <p class="event-or">或</p>
    <a href="#" class="event-all">查看所有活動 →</a>
  </div>

  <div class="our-faith">
    <h2>教會宗旨</h2>
    <p>
      我們是一間不分宗派、多樣事工的教會，特別注重大華府華人社區的福音工作。我們
      分別有華語及英語各樣事工。
    </p>
    <div class="our-faith-entity">
      <img src="/public/images/our-faith-1.png">
      <h3>聖經</h3>
      <p>全部聖經為我們信仰的指南與中心。</p>
    </div>
    <div class="our-faith-entity">
      <img src="/public/images/our-faith-2.png">
      <h3>禱告</h3>
      <p>禱告是我們事工的原動力。</p>
    </div>
    <div class="our-faith-entity">
      <img src="/public/images/our-faith-3.png">
      <h3>合一</h3>
      <p>我們的華語與英語事工互相關懷，全教會合一。</p>
    </div>
    <div class="our-faith-entity">
      <i class="fa fa-comments-o"></i>
      <h3>差傳</h3>
      <p>我們差派會員向外宣揚耶穌基督的福音。</p>
    </div>
  </div>
{{end}}
