{{define "head"}}
  <link rel="stylesheet" type="text/css" href="/public/css/index.css">
  <script src="/public/js/index.js"></script>
{{end}}

{{define "main"}}
  <div class="slide">
    <header>
      <ul>
        <li class="slide-active-button">歡迎您<span class="slide-triangle"></span></li>
        <li>聖經金句</li>
        <li>今年主题</li>
      </ul>
      <div>
        <i class="fa fa-play-circle-o slide-active-button"></i>
        <i class="fa fa-pause-circle-o"></i>
      </div>
    </header>
    <div>
      <figure class="slide-welcome slide-active-image">
        <figcaption>
          <h2>歡迎您!</h2>
          <p>
            我們歡迎你参訪我們的網站。如果你正在尋找教會而且今天是你第一次接觸到
            華府中國教會，我們熱烈地歡迎你，並希望你會藉著這網站更多認識我們。我
            們是一群藉著與耶穌基督建立切身關係而專心去認識神的信徒。我們按聖靈的
            指引過生活，彼此相交，目的是要更像耶穌。我們最大的盼望就是，其他的人
            也能在他們一生當中認識耶穌基督，並能活出祂的樣式。我們盼望很快地就能
            與你見面。
          </p>
        </figcaption>
      </figure>
      <figure class="slide-bible">
        <figcaption>
          <p>
            耶穌坐下，叫十二個門徒來說，若有人願意作首先的，他必作眾人末後的，作
            眾人的用人。
          </p>
          <p class="slide-reference">—— 馬可福音 9:35</p>
        </figcaption>
      </figure>
      <figure class="slide-theme">
        <figcaption>
          <h2>作貴重器皿,合乎主用</h2>
          <p>
            在大戶人家，不僅有金器、銀器，也有木器、瓦器；有作為貴重的，有作為卑
            賤的。人若自潔, 脫離卑賤的事，就必作貴重的器皿，成為聖潔，合乎主用，
            預備行各樣的善事 。
          </p>
          <p class="slide-reference">—— 提摩太後書 2:20-21</p>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="event">
    <div class="event-description">
      <h4><i class="fa fa-calendar"></i> 近期活動（2016-02-29 4PM）：</h4>
      <h3>“慶祝春節晚會，請邀親友參加！”</h3>
    </div>
    <div class="countdown">
      <div class="countdown-box">
        <span class="countdown-entity countdown-days">
          <span class="countdown-value"></span>
          <span class="countdown-unit">天</span>
        </span>
        <span class="countdown-entity countdown-hours">
          <span class="countdown-value"></span>
          <span class="countdown-unit">時</span>
        </span>
        <span class="countdown-entity countdown-minutes">
          <span class="countdown-value"></span>
          <span class="countdown-unit">分</span>
        </span>
        <span class="countdown-entity countdown-seconds">
          <span class="countdown-value"></span>
          <span class="countdown-unit">秒</span>
        </span>
      </div>
    </div>
    <a href="#" class="event-detail">活動詳情</a>
    <p class="event-or">或</p>
    <a href="#" class="event-all">查看所有活動 →</a>
  </div>

  <div class="faith">
    <h2 class="content-title">教會宗旨</h2>
    <p>
      我們是一間不分宗派、多樣事工的教會，特別注重大華府華人社區的福音工作。我們
      分別有華語及英語各樣事工。
    </p>
    <div class="faith-entity">
      <img src="/public/images/faith-1.png">
      <h3>聖經</h3>
      <p>全部聖經為我們信仰的指南與中心。</p>
    </div>
    <div class="faith-entity">
      <img src="/public/images/faith-2.png">
      <h3>禱告</h3>
      <p>禱告是我們事工的原動力。</p>
    </div>
    <div class="faith-entity">
      <img src="/public/images/faith-3.png">
      <h3>合一</h3>
      <p>我們的華語與英語事工互相關懷，全教會合一。</p>
    </div>
    <div class="faith-entity">
      <i class="fa fa-comments-o"></i>
      <h3>差傳</h3>
      <p>我們差派會員向外宣揚耶穌基督的福音。</p>
    </div>
  </div>

  <!--
  <div class="history">
    <h2 class="content-title">歷史</h2>
    <p>
      本教會為大華府區第一間由中國基督徒留學生成立的華人教會。1957年由蔡錫惠弟兄
      與幾位中國基督徒留學生在華府Calvert街「國際學生協會」的辦公室開始舉行查經
      聚會，及至1958年八月三十一日正式舉行主日崇拜，成立教會，以國語進行，當時約
      有二十多位會眾參加。及後聚會人數大增，便購買華府西北十六 街5709號一棟大房
      子作為教會，並正式定名為「華府國語禮拜堂」，聘請周主培牧師為教會首任牧師。
      建立一間不屬任何宗派的基督教會，以聖經為信仰及行事為人的最高原則，經濟獨立，
      仰賴神的豐富的供應，弟兄姊妹熱心奉獻。<a href="#">更多</a>
    </p>
    <div></div>
  </div>
  -->

  <!--
  <div class="contact">
    <h2 class="content-title">聯繫我們</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3101.253622090794!2d-77.01608238436692!3d38.9867076492794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7c8a1cfeb51f5%3A0x4bca2fdeb8a89a65!2s7716+Piney+Branch+Rd%2C+Silver+Spring%2C+MD+20910!5e0!3m2!1sen!2sus!4v1454640313199" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
    <ul>
      <li>地址 Address  7716 Piney Branch Rd, Silver Spring, MD 20910</li>
      <li>電話 Phone    301-587-0033</li>
      <li>傳真 Fax  301-357-8490</li>
      <li>E-mail    info@cccgw.org</li>
      <li>本教會辦公室時間﹕每星期週二至週五，週日﹕上午十時至下午三時。</li>
    </ul>
  </div>
  -->


{{end}}
